.model {
    position: fixed;
    top:0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    z-index: 12;
}
.model-content{
    width: 350px;
    position: fixed;
    top:20%;
    left: 40%;
    transform: translateX(50%,50%);
    background-color: white;
    text-align: center;
    border-radius: 20px;
}
.model-content p{
    padding: 10px;
    color: rgb(70, 68, 68);
    border-bottom: 1px solid rgb(209, 202, 202);
    margin: 0px;
    cursor: pointer;
}
.model-content p:last-child{
    border-bottom: none;
}
.model-content .selected{
    color: rgb(244, 85, 85);
    font-weight: 500;
}
.openModel {
    display: initial;
}