body {
    background-color: white;;
}
.loginpage_main {
    display: flex;
    margin: 25px;
}
.loginpage_logo{
    width: 175px;
    margin: 25px;
}
.loginpage_right{
    height: 380px;
    width: 350px;
    border: 1px solid #DBDBDB;
    margin-top: 40px;
    text-align: center;
    position: relative;
    transition: ease-in;
}
.phones {
    width: 242px;
    position: absolute;
    left: -300.2px;
    top: -16px;
    transition: ease-in ease-in-out;
}

.loginpage_text {
    width: 258px;
    height: 36px;
   margin: 5px;
   border: 1px solid #cccaca;
   background-color:  #FAFAFA;
   padding-left:10px ;
   border-radius:5px ;
   outline: none;
}
.loginpage_text:focus{
    border: 1px solid #d3d0d0 ;
}
.login_button {
    width: 270px;
    height: 36px;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid #0395F6;
    background-color:#0395F6 ;
    margin-top: 5px;
    color: white;
}
.login_button:hover{
    cursor: pointer;
    background-color:#067ac8 ;
}
.login_ordiv {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.login_space {
    width: 80px;
    height: 0px;
    margin-top: 10px;
    border:1px solid #DBDBDB;
}
.login_or {
    margin: 0px 10px;
    font-weight: bold;
    color: #8E8E8E;
}
.login_fb {
    color: #395185;
    font-weight: bold;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login_fb a{
    text-decoration: none;
    color: #385185;
}
.login_forgot {
    color: #385185;
    font-size: 12px;
    line-height: 14px;
    margin-top: 12px;
    text-align: center;
}
.login_forgot a {
    text-decoration: none;
    color: #385185;
}
.loginpage_signupoption {
    margin-top: 25px;
    height:56px;
    width: 350px;
    background-color: white;
    border: 1px solid #DBDBDB;
    text-align: center;
}
.loginpage_signin{
    margin-top: 20px;
}
.loginpage_signin a {
    text-decoration: none;
}
.loginpage_signup {
    margin-top: 20px;
}
.loginPage__downloadSection {
    height: 105px;
    width: 350px;
    text-align: center;
    margin-top: 20px;
}
.loginpage_option {
    margin-top: 20px;
}
.loginpage_dwimg {
    margin: 5px;
    cursor: pointer;
}
.loader{
    width: 15px;
    height: 15px;
    border: 2.5px dashed white;
    border-radius: 50%;
    animation: round 1s infinite;
    position: absolute;
    top: 230px;
    left: 170px;
}
@keyframes round {
     from{
        transform: rotate(0deg);
     }
     to {
        transform: rotate(360deg);
     }
}